.main-title {
    font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        /* or 136% */
    
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    
        color: #FFFFFF;
        background: #2F303A;
}
.first-button {
        width: 200px;
        height: 50px;
        left: 700px;
        top: 430px;
    
        background: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        font-weight: 700;
            font-size: 16px;
            line-height: 1.36;
            /* identical to box height, or 188% */
            letter-spacing: 0.06em;
            color: #FFFFFF;
            
}







.headlines {
    font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        color: #212121;
}

.paragraph {
        font-weight: 400;
        font-size: 14px;
        line-height: 0.07;
        /* or 171% */
    
        letter-spacing: 0.03em;
    
        color: #757575;
}

.second-headlines {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
    
        color: #212121;
}

.team {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        letter-spacing: 0.03em;
    
        color: #212121;
}

.jobs {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.18;
        /* identical to box height */
        letter-spacing: 0.03em;
    
        color: #757575;
}
















/* колір основного тексту #212121; */
/* вторинний колір #757575; */
/* білий #FFFFFF */
/* акцент #2196F3*/




body {
    background-color: #E5E5E5;
    color: #212121;
    font-family: 'Roboto', sans-serif;

}

ul {
    list-style: none;
}





.logo {
        color: #000000;
        width: 145px;
        height: 31px;
        left: 215px;
        top: 24px;
    
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        text-decoration: none;
        /* identical to box height */
    
        letter-spacing: 0.03em;
}

span {
    color: #2196F3 ;
    font-family: Oleo Script
}

.site-nav a {
    color: #212121;
}


.site-nav .link:hover,
.site-nav .link:focus {
    color:#2196F3 ;
}
 
.link {
    font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        text-decoration: none;
}









.mail {
    color: #757575;
    font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        text-decoration: none;
}

.contacts .mail:hover, 
.contacts .mail:focus {
 color: #2196F3;

}

.phone-number:hover,
.phone-number:focus {
 color: #2196F3;
}

.phone-number {
    color: #757575;
    font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        text-decoration: none;
}




.visibility {
    visibility:hidden
}


.modal-btn {
    text-decoration: none;
}

.modal-btn:hover {
    color: #FFFFFF;
    background-color: #2196F3;
    border-radius: 4px;
}
.modal-btn {
    cursor: pointer;
}





.project {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: #212121;

}

.project-text {
    color: #757575;
    font-size: 16px;
    line-height: 1.87;
}







.footer-logo {
color: #FFFFFF;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;

    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    /* identical to box height */

    letter-spacing: 0.03em;
}

.footer-logo {
    cursor: pointer;
}


.span {
    color: #2196F3;
    font-family: Oleo Script
    }

    .location {
        color: #FFFFFF;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.71;
            text-decoration: none;
            /* or 171% */
        
            letter-spacing: 0.03em;
    }
    .email {
        color: rgba(255, 255, 255, 0.6);
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.71;
            text-decoration: none;
            /* or 171% */
        
            letter-spacing: 0.03em;
    }
    .number {
        color: rgba(255, 255, 255, 0.6);
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.71;
            text-decoration: none;
            /* or 171% */
        
            letter-spacing: 0.03em;
    }


.location:hover,
.location:focus {
    color: #2196F3;
}

.email:hover,
.email:focus {
color: #2196F3
}

.number:hover,
.number:focus {
    color: #2196F3
}




